<nav class="navbar" role="navigation" aria-label="navigation">
        <a class="navbar-item" href="/">
          Home
        </a>
        <a class="navbar-item">
          About Us
        </a>
        <a class="navbar-item">
          Find Water pumps!
        </a>
      </nav>